* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-family: "Nunito Sans", sans-serif;
}
ul,
ol,
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
:root {
    --TextShadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
    --BoxShadow: rgb(0, 0, 0, 0.2) 0px 4px 8px 0px,
        rgb(0, 0, 0, 0.2) 0px 6px 20px 0px;
    --SelectOptionBg: rgb(1, 147, 207);
}
.darkTheme {
    background-color: rgba(7, 49, 85, 0.527);
    color: #fff;
    box-shadow: var(--BoxShadow);
}
.lightTheme {
    background-color: #fff;
    color: #111;
    box-shadow: var(--BoxShadow);
}
